<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>LSMinimumSystemVersion</key>
  <string>10.10</string>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleAllowMixedLocalizations</key>
  <true/>
  <key>CFBundleExecutable</key>
  <string>zcash4mac</string>
  <key>CFBundleIconFile</key>
  <string>zcash4mac.icns</string>
  <key>CFBundleIdentifier</key>
  <string>wallet</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>zcash4mac</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>@shortversion@</string>
  <key>CFBundleSignature</key>
  <string>ZC4M</string>
  <!-- See http://developer.apple.com/library/mac/#releasenotes/General/SubmittingToMacAppStore/_index.html
       for list of AppStore categories -->
  <key>LSApplicationCategoryType</key>
  <string>Financial</string>
  <key>CFBundleVersion</key>
  <string>@build@</string>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright (C) 2016 David Mercer</string>
  <key>NSHighResolutionCapable</key>
  <string>true</string>
 </dict>
</plist>
